body {
  background-color: rgb(122, 155, 122);
}

.title {
  color: rgb(9, 10, 13);
  background-color: rgb(136, 185, 131);
  font-size: larger;
  font-weight: 800;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.recipes {
  display: flex;
  justify-content: center;
}
a {
  color: black;
  display: flex;
  background-color: rgb(71, 153, 71);
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  padding: 30px;
  border-radius: 5px;
}

.recipe-container {
  background-color: beige;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
}

img {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 3px solid rgb(125, 167, 126);
}

.title-container {
  background-color: beige;

  padding: 2px;
  border-radius: 5px;
}
.recipe-container {
  background-color: beige;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.recipe-container.recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.recipe-page {
  display: flex;
  justify-content: center;
}
